[tool.poetry]
name = "aiohomekit"
version = "0.2.51"
description = "An asyncio HomeKit client"
authors = ["John Carr <john.carr@unrouted.co.uk>"]
license = "Apache-2.0"
readme = "README.md"
homepage = "https://github.com/Jc2k/aiohomekit"
repository = "https://github.com/Jc2k/aiohomekit"
keywords = ["HomeKit", "home", "automation"]
classifiers = [
    "License :: OSI Approved :: Apache Software License",
    "Topic :: Home Automation",
    "Intended Audience :: Developers",
    "Intended Audience :: End Users/Desktop",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8"
]

[tool.poetry.dependencies]
python = "^3.7"
cryptography = "^2.9.2"
zeroconf = {version = ">= 0.28.0"}

[tool.poetry.dev-dependencies]
isort = "^4.3.21"
mypy = "^0.761"
black = "^19.10b0"
flake8 = "^3.7.9"
pytest = "^5.3.5"
coverage = "^5.0.3"
codecov = "^2.0.15"
pylint = "^2.4.4"
pytest-aiohttp = "^0.3.0"
pyupgrade = "^2.7.2"

[tool.black]
target-version = ["py37", "py38"]

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
